body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

p {
    width: 80%;
    margin: 20px auto;
    line-height: 1.6;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 40px;

}
a {
 margin: 20px auto;
    
}

